<a href="https://colab.research.google.com/github/ridhamel/Machine-Learning_Homework/blob/main/Week_1_ML_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Basic Data Exploration
melb_path = '../content/drive/MyDrive/melb_data.csv'
melbourne_data = pd.read_csv(melb_path)
melbourne_data.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [ ]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
melbourne_data= melbourne_data.dropna(axis=0)

In [ ]:
y=melbourne_data.Price

In [ ]:
melbourne_features = ['Rooms', 'Bathroom','Landsize','Longtitude','Lattitude']

In [ ]:
x= melbourne_data[melbourne_features]

In [ ]:
x.describe()

             Rooms     Bathroom      Landsize   Longtitude    Lattitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   144.990201   -37.807904
std       0.971079     0.711362    897.449881     0.099165     0.075850
min       1.000000     1.000000      0.000000   144.542370   -38.164920
25%       2.000000     1.000000    152.000000   144.926198   -37.855438
50%       3.000000     1.000000    373.000000   144.995800   -37.802250
75%       4.000000     2.000000    628.000000   145.052700   -37.758200
max       8.000000     8.000000  37000.000000   145.526350   -37.457090

In [ ]:
x.head(10)

    Rooms  Bathroom  Landsize  Longtitude  Lattitude
1       2       1.0     156.0    144.9934   -37.8079
2       3       2.0     134.0    144.9944   -37.8093
4       4       1.0     120.0    144.9941   -37.8072
6       3       2.0     245.0    144.9993   -37.8024
7       2       1.0     256.0    144.9954   -37.8060
9       2       1.0     220.0    144.9989   -37.8010
11      3       2.0     214.0    144.9964   -37.8085
12      2       2.0       0.0    144.9965   -37.8078
15      2       1.0     238.0    144.9976   -37.8090
16      3       2.0     113.0    144.9930   -37.8056

In [ ]:
from sklearn.ensemble import RandomForestRegressor
melbourne_model = RandomForestRegressor(random_state=2)
melbourne_model.fit(x, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=2, verbose=0, warm_start=False)

In [ ]:
melb_path = '../content/drive/MyDrive/melb_data.csv'
melbourne_data = pd.read_csv(melb_path)
melbourne_data.describe()
melbourne_data= melbourne_data.dropna(axis=0)
y=melbourne_data.Price

melbourne_features = ['Rooms', 'Bathroom','BuildingArea','YearBuilt','Landsize','Longtitude','Lattitude']
x= melbourne_data[melbourne_features]

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [ ]:
#Random Forest Model

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

191603.97724553474